body{
    background: black;
    color: white;
}

.navi{
    background: #fff;
    color: #505050;
    padding: 4%;
    margin: 20px auto;
    border-radius: 10px;
    text-align: center;
}

.items{
    display: inline;
    margin: 5px;
    background: #000 ;
    padding: 10px;
}

.links{
    text-decoration: none;
    color: whitesmoke;
}

.items2{
    list-style: none;
    text-align: center;
}


.links2{
    text-decoration: none;
    color: crimson;
}

.links:hover{
    color: gold;
}

.product{
    background: #fff;
    color: black;
    border-radius: 10px;
    padding: 3%;
}

.category{
    background: #fff;
    color: rgba(0,0,0,0.68);
    padding: 5%;
    border-radius: 3%;
}

.cart{
    background: #fff;
    color: black;
    margin-top: 10px;
    padding: 5%;
    border-radius: 10px;
}

.error{
    background: #fff;
    color: crimson;
    padding: 5%;
    border-radius: 10px;
}

.main{
    background: #fff;
    color: black;
    margin-top: 10px;
    padding: 5%;
    border-radius: 10px;
}

.wwa{
    background: #fff;
    color: black;
    margin-top: 10px;
    padding: 5%;
    border-radius: 10px;
}

.contact{
    background: #fff;
    color: black;
    margin-top: 10px;
    padding: 5%;
    border-radius: 10px;
}
.cartButton{
    position: fixed;
    left: 93%;
    top: 90%;
    text-decoration: none;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.register{
    background: #fff;
    color: #000;
    padding: 5%;
    border-radius: 10px;
}

.registerBox{
    margin: 0 auto;
    border-radius: 10px;

}